<!DOCTYPE html>
<html>
  <%- include partials/Head -%>
        
    <div class="container-fluid">
      <div class="row-8">
        <div class="col-md">
      
          <%- include partials/NavBar -%>
          </div>
          </div>  
        </div>
        <br>
       <div class="container" >
         <body>
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-md-6">
                <br><br><br><br>
                <img id="txt" src="/images/My project-3.png">
               <p>
                 I (Gurleen Buttar) am currently working as a freelance web delveloper. I work with clients to create customized
solutions tailored according to the requirements. I am always interested in a challenge. Reach out
<a href="mailto: gbuttar8@my.centennialcollege.ca "> <b> gbuttar8@my.centennialcollege.ca</b> </a>to connect.               </p>
<br>
<a href="/files/Resume.pdf" download><button type="button" class="btn btn-primary">Download Resume</button></a>
              </div>
              <div class="col-md-6">
                <img class="img-responsive" src="/images/My project-2.png" >
              </div>
              
            </div>  
          </div>
          </div>  
        
        </body>
    
        <%- include partials/Footer -%>
</html>
