<!DOCTYPE html>
<html>
  <%- include partials/Head -%>
        
    <div class="container-fluid">
      <div class="row-8">
        <div class="col-md">
      
          <%- include partials/NavBar -%>
          </div>
          </div>  
        </div>
        <br>
       <div class="container" >
         <body>
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-md-6">
                <br><br><br><br>
                <img id="txt" src="/images/My project-3.png">
                <p>
                  We provide solutions in the following programming languages:
                </p>
                 <ul>
                   <li>HTML 5</li>
                   <li>Bootstrap</li>
                   <li>CSS</li>
                   <li>JavaScript</li>
                   <li>Java</li>
                   <li>C#</li>
                   <li>Oracle 12c</li>
                 </ul>
                
              </div>
              <div class="col-md-6">
                <img class="img-responsive" src="/images/My project-2.png" >
              </div>
              
            </div>  
          </div>
          </div>  
        
        </body>
    
        <%- include partials/Footer -%>
</html>
