<!-- Nav Bar -->
<section id="title">

    <nav class="navbar navbar-expand-lg navbar-dark px-5 mx-5">
      <a class="navbar-brand" href="/"><img src="/images/banner.jpg" width="650" height="320"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link anchor" href="/aboutus">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link anchor" href="/advertisement/list">Advertisements</a>
              </li>
          </ul>
      </div>
    </nav>
</section>