<!-- Name:Gurleen Buttar
Student Number: 301212754
COMP 229
Section: 003 -->
<!DOCTYPE html>
<html>
  <%- include ../partials/Head -%> 
  

  <body>   
    <div class="container-fluid">
      <div class="row">
        <div class="col-md">
      
          <%- include ../partials/NavBar -%>   
          
        </div>
      </div> 
      <div class="row">
        <div class="col-md-6">
          <form class="form-inline" action="/users/signin" method="post">
            <div class="form-group">
                <label>Username:</label>
                <input type="text" name="username" class="form-control" size="10"/>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password" class="form-control" size="10"/>
            </div>
            <br>
            <div class="form-group">
              <label>&nbsp; </label>
                <input class="btn btn-primary" type="submit" value="Sign In" />                    
            </div>
            <br>
            <div class="form-group">
              <label>&nbsp; </label>
                <a href="/users/signup" style="text-decoration: none">                
                    <i class="fas fa-user-plus"></i> 
                    Signup
                </a>
            </div>
        </form>
        <%- messages -%>  
      </div>
    </div>
        </div>
        <br>
       <div class="container" >
         
          <div class="container-fluid">
            <div class="row">
              
              <div class="col-md-6">
                <br><br><br><br>
                <img id="txt" src="/images/My project-3.png">
                
              </div>
              <div class="col-md-6">
                <img class="img-responsive" src="/images/My project-2.png" >
              </div>
              
            </div>  
          </div>
          </div>  
          <%- include ../partials/Footer -%> 
        </body>
    

</html>
