h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
   
}

#btn{
    position: relative;
}

img {
    width:100%;
    height:100%;
    margin:10px;
    align-items: center;
} 


footer {
    clear:both;
    text-align: center;
    font-weight:500;
    padding: 5%
}

h2 {
    color:rgb(170, 0, 255)
}

.boxmodel {
border: 5px rgb(237, 219, 100);
display:inline-block;
padding: 5px 20px; 
margin:20px; 
}

p {
    line-height: 20px;
    font-style:normal;
    font-weight:normal;
    font-size:100%;
    text-align:center;
    cursor:pointer;

}

body
{
    background-image: url('../images/Dim.png');
    background-size: cover;
    height:60%;
    max-width: auto;
    max-height: 1920px;
    margin:auto;
    
}

footer {
    background-color: #333;
    width:100%;
    bottom: 0;
    height:10%;
   
    color: white;
}

#logo{
    width: 50px;
    height: auto;
}

#txt
{
    width: 500px;
    height: auto;
    
}
#demo{
    color: black;
}
.carousel-inner {
    color:black;
  }
  .carousel-control-next{
   
    filter: invert(100%);
     
}

  .carousel-control-prev  {
      filter: invert(100%);
  }
  .carousel-indicators
  {
    filter: invert(100%);
  }
  .carousel-caption
  {
    filter: invert(100%);
  }
  