<footer>
    <div class="container-lg">
      <div class="row">
        <div class="col-lg">
      Your Vision Is My Destination
      <br>
      <i class="fa-brands fa-facebook fa-xl"></i>
      <i class="fa-brands fa-linkedin fa-xl"></i>
      <i class="fa-solid fa-envelope fa-xl"></i>
        </div>
      </div>
    </div>
  </footer>